@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Patrick+Hand+SC&display=swap');

.mat-display-3{
    font-family: 'Grechen Fuemen', cursive;
font-family: 'Patrick Hand SC', cursive;
/* text-align: center; */
}
.mat-headline{
    font-family: 'Grechen Fuemen', cursive;
    font-family: 'Patrick Hand SC', cursive;
    /* text-align: center; */
}

